body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
}

* {
  box-sizing: border-box;
}

main {
  width: 60%;
  margin: 0 auto;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 40px;
}
